<div ng-controller="userLoginCtrl">
    <p><span id="red"><span class="red">*</span></span> Required fields</p>
    <div class="field_wrapper">
        <ul class="errorlist">
            <li ng-repeat="item in phUser.errors.non_field_errors">{{ item }}</li>
        </ul>
    <div>
    <div class="field_wrapper">
        <label for="id_username">Username: <span class="red"> *</span></label>
        <ul class="errorlist">
            <li ng-repeat="item in phUser.errors.username">{{ item }}</li>
        </ul>
        <input id="id_username" ng-model="credentials.username">
    </div>
    <div class="field_wrapper">
        <label for="id_password">Password: <span class="red"> *</span></label>
        <ul class="errorlist">
            <li ng-repeat="item in phUser.errors.password">{{ item }}</li>
        </ul>
        <input id="id_password" type="password" ng-model="credentials.password">
    </div>
</div>
