<article class="abstract">
    <header>
    <ul ng-if="phUser.user.username == post.author.username" class="admin-links">
        <li><a  href="">Edit</a></li>
    </ul>
    <ng-include src="'/assets/partials/weblog/weblog_time.html'"></ng-include>
    <h1>{{ post.title }}</h1>
    <p class="description" ng-if="post.description">{{ post.description }}</p>
    </header>
    <div class="content" ng-bind-html="post.content"></div>
    <h6 class="author"><a href="{{ post.author.website }}" rel="author">{{ post.author.author_name }}</a></h6>
    <footer>
        <ul id="tags">
            <li ng-repeat="tag in post.tags"><a href="tag/{{ tag.slug }}"
                title="See all &#34;{{ tag.name }}&#34; related posts.">{{ tag.name }}</a></li>
        </ul>
    </footer>
    </article>
<nav id="pagination">
    <a ng-if="post.previous" id="prev" href="/weblog/{{ post.previous }}/">« Previous post</a>
    <a ng-if="post.next" id="next" href="/weblog/{{ post.next }}/">Next post »</a>
</nav>

