<header>
<p ng-if="phUser.user.is_staff" class="admin-links"><a  href="" ng-click="mkPost()">New post</a></p>
</header>
<article class="abstract"
    ng-repeat="post in posts">
    <header>
    <ng-include src="'/assets/partials/weblog/weblog_time.html'"></ng-include>
    <h1><a ng-href="/weblog/{{ post.slug }}/">{{ post.title }}</a></h1>
    </header>
    <div class="thumb-wrapper" ng-if="post.pictures">
        <a ng-href="/weblog/{{ post.slug }}/lightbox/{{ post.pictures[0].pk }}/"><img ng-src="/media/images/previews/width-750/{{ post.pictures[0].previews_path }}" /></a>
    </div>
    <div class="content" ng-bind-html="post.abstract"></div>
    <footer>
        <p><a ng-href="/weblog/{{ post.slug }}/">Read post</a></p>
    </footer>
</article>
<nav id="pagination">
    <a ng-if="prev_page" id="prev" href="" ng-click="goToPage(prev_page)">« Recent posts</a>
    <a ng-if="next_page" id="next" href="" ng-click="goToPage(next_page)">Older posts »</a>
</nav>

