{% extends "weblog/weblog_base.html" %}
{% load humanize %}
{% block pagination %}
{% if next %}
    <link rel="next" href="{% url "pictofday_view" next %}" />
{% endif %}
{% if previous %}
    <link rel="prev" href="{% url "pictofday_view" previous %}" />
{% endif %}
{% endblock %}
{% block content %}
{% load static %}

{# principal title for semantic #}
<h1 class="hidden">Image du jour:</h1>
<h2 class="hidden">{{ entry.category }}</h2>

    <article id="main"><div class="article_content">
		<header>
		<h1>{{ entry.title }}</h1>
			<p class="date">
				<em>
					<time datetime="{{ entry.day_date }}" pubdate="pubdate">{{ entry.day_date|naturalday:"l j F Y"|capfirst }}</time>
				</em>
			</p>
			{% if user.is_staff %}
			<a class="popup" href="{% url "pictofday_edit" entry.day_date|date:"Y/m/d" %}"><button class="entry-header small_button">Éditer</button></a>
			{% endif %}
		</header>


        <figure>
        <figcaption>
		{{ entry.content|safe }}
        <hr />
        </fibcaption>
        <div class="gallery pictofday">
                <a href="{{ MEDIA_URL }}images/previews/height-700/{{ entry.picture.id }}.jpg" data-lightbox="{{ entry.id }}" title="{{ entry.picture.title }}"><img class="image" src="{{ MEDIA_URL }}images/previews/height-700/{{ entry.picture.id }}.jpg" alt="{{ entry.picture.title }}" {#title="{{ picture.title }}"#} /></a>
        </div>{# gallery #}
        <h6 class="author"><a class="author small_caps" href="{{ entry.author.web_site}}" rel="author">{{ entry.author.author_name }}</a></h6>
        <figcaption>
        <h4>Informations sur l'image :</h4>
        <ul class="exif">
            <li><strong>Date : </strong><em>{{ entry.picture.date|date:"F Y"|capfirst }}</em></li>
            <li><strong>Boîtier : </strong><em>{{ entry.picture.camera }}</em></li>
            <li><strong>Objectif : </strong><em>{{ entry.picture.lens }}</em></li>
            <li><strong>Exposition : </strong><em>{{ entry.picture.speed}}, f/{{ entry.picture.aperture }}</em></li>
            <li><strong>Sensibilité : </strong><em>{{ entry.picture.iso}} iso</em></li>
        </ul>
        </figcaption>
        </figure>
        <hr />
		<footer>
            {% include "weblog/weblog_tag_thread.html" %}
            {% include "weblog/weblog_follow.html" %}
            {% include "pictofdays/pictofday_pager.html" %}
		</footer>
    </div>{# article_content #}
	</article>
{% endblock %}


