<header role="banner">
    <h1 class="accessibility">{{ conf.title }}, {{ conf.subtitle }}</h1>
    <p id="logo">
    <a ng-if="conf.home_page_state" ui-sref="{{ conf.home_page_state }}">
            <img ng-src="{{ conf.librairy_logo }}" alt="{{ conf.title }}" />
        </a>
    </p>
    <!-- main navigation menu -->
    <nav role="navigation" ng-include="'/assets/partials/main_nav.html'">
    </nav>
</header>

<!-- 1px grey frame arround main area -->
<div id="frame">
    <!-- buttons to show / hide side panels -->
    <div id="left" href=""
       title="show / hide panel"
       ng-click="hide_left_panel = ! hide_left_panel"
       ng-class="{closed: hide_left_panel, open: ! hide_left_panel}"></div>
    <div id="right"
       title="show / hide panel"
       ng-click="hide_right_panel = ! hide_right_panel"
       ng-class="{closed: hide_right_panel, open: ! hide_right_panel}"></div>
    <!-- left panel -->
    <nav id="left_panel" 
         role="navigation"
         ng-hide="hide_left_panel">
        <ul id="nav">
            <li class="togglesubmenu"
                ng-if="user.is_staff"><a class="arrow arrow-plus"
                    ng-click="showCatalog = ! showCatalog"
                    ng-class="{selected: showCatalog}"
                    href="">Catalog</a><a 
                            class="plus"
                            ng-click="catalog_menu = ! catalog_menu"><span class="accessibility">Tab menu</span></a>
                    <ul class="popover"
                        ng-show="catalog_menu">
                        <li><a ui-sref="librairy">Import pictures</a></li>
                        <li><a ui-sref="librairy">New directory</a></li>
                    </ul>
                <div class="submenu-outframe">
                <div class="submenu-frame">
                <div class="submenu-inframe">
                <ul class="submenu"
                    ng-show="showCatalog"
                    ng-click="$event.stopPropagation()">
                    <!-- <li><a class="doc" ui-sref="librairy.grid({source: 'folder', pk: '-'})">All pictures</a></li>-->
                    <!-- <li><a class="doc" ui-sref="librairy.grid({source: 'folder', pk: '-'})">Last importation</a></li>-->
                    <li><a class="doc"
                            ph-drop="librairy/folder"
                            drop-data="'-'"
                            drop-accept="librairy/pict librairy/folder"
                            drop-style="droppable"
                            ui-sref="librairy.grid({source: 'folder', pk: '-'})"
                            ng-class="{active: $state.includes('librairy.grid', {source: 'folder', pk: item.pk})}"
                            >Folder less</a></li>
                </ul><!-- submenu -->
                </div><!-- submenu-inframe -->
                </div><!-- submenu-frame -->
                </div><!-- submenu-outframe -->
            </li><!-- tooglesubmenu -->
 
            <li class="togglesubmenu"
                ng-if="user.is_staff"><a class="arrow arrow-plus"
                    ng-click="showDirectorys = ! showDirectorys"
                    ng-class="{selected: showDirectorys}"
                    href="">Folders</a><a 
                            class="plus"
                            ng-click="directorys_menu = ! directorys_menu"><span class="accessibility">Tab menu</span></a>
                    <ul class="popover"
                        ng-show="directorys_menu">
                        <li><a ui-sref="librairy">Import pictures</a></li>
                        <li><a ui-sref="librairy">New directory</a></li>
                    </ul>
                <div class="submenu-outframe">
                <div class="submenu-frame">
                <div class="submenu-inframe">
                <ul class="submenu"
                    ng-show="showDirectorys"
                    ng-click="$event.stopPropagation()">
                    <li ng-repeat="item in directorys" ng-include="'/assets/partials/librairy/librairy_recursive_directorys.html'"></li>
                    <li ng-if="! directorys"><a class="doc popup" href="">Aucun dossier</a></li>
                </ul><!-- submenu -->
                </div><!-- submenu-inframe -->
                </div><!-- submenu-frame -->
                </div><!-- submenu-outframe -->
            </li><!-- tooglesubmenu -->
            
            
            <li class="togglesubmenu"><a class="arrow arrow-plus"
                    ng-click="showAccount = ! showAccount"
                    ng-class="{selected: showAccount}" href="">Account</a>
                <div class="submenu-outframe">
                <div class="submenu-frame">
                <div class="submenu-inframe">
                <ul class="submenu"
                    ng-show="showAccount"
                    ng-click="$event.stopPropagation()">
                    <li>{{ user.avatar }}{{ user.username }}</li>
                    <li><a class="doc">Profil</a></li>
                    <li ng-if="user.is_staff"><a class="doc">Settings</a></li>
                    <li ng-if="user.is_staff"><a class="doc" href="/api/" target="_blank">API browser</a></li>
                    <li><a class="doc">Sign out</a></li>
                </ul><!-- submenu -->
                </div><!-- submenu-inframe -->
                </div><!-- submenu-frame -->
                </div><!-- submenu-outframe -->
            </li><!-- tooglesubmenu -->

        </ul><!-- nav -->
    </nav>

<!-- main content area -->
<section id="content" ui-view>
</section>

<!-- page up link -->
<a id="pageup" href="#top" title="haut de page"><span class="accessibility">haut de page</span></a>

</div><!-- frame -->
