<header role="banner">
    <h1 class="accessibility">{{ settings.title }}, {{ settings.subtitle }}</h1>
    <p id="logo">
    <a ng-if="settings.home_page_state" ui-sref="{{ settings.home_page_state }}">
        <img ng-src="{{ settings.librairy_logo }}" alt="{{ settings.title }}, {{ settings.subtitle }}" />
        </a>
    </p>
    <!-- main navigation menu -->
    <nav role="navigation" ng-include="'/assets/partials/main_nav.html'">
    </nav>
</header>

<!-- 1px grey frame arround main area -->
<div id="frame">
    <!-- buttons to show / hide side panels -->
    <div id="left" href=""
       title="show / hide panel"
       ng-click="hide_left_panel = ! hide_left_panel"
       ng-class="{closed: hide_left_panel, open: ! hide_left_panel}"></div>
    <div id="right"
       title="show / hide panel"
       ng-click="hide_right_panel = ! hide_right_panel"
       ng-class="{closed: hide_right_panel, open: ! hide_right_panel}"></div>
    <!-- left panel -->
    <nav id="left_panel" 
         role="navigation"
         ng-hide="hide_left_panel">
        <ul id="nav">
            <li class="togglesubmenu"
                ng-if="phUser.user.is_staff"><a class="arrow arrow-plus"
                    ng-click="showCatalog = ! showCatalog"
                    ng-class="{selected: showCatalog}"
                    href="">Catalog</a><a 
                            class="plus"
                            ng-click="catalog_menu = ! catalog_menu"><span class="accessibility">Tab menu</span></a>
                    <ul class="popover"
                        ng-show="catalog_menu">
                        <li><a ui-sref="librairy">Import pictures</a></li>
                    </ul>
                <div class="submenu-outframe">
                <div class="submenu-frame">
                <div class="submenu-inframe">
                <ul class="submenu slide-up-down"
                    ng-show="showCatalog"
                    ng-click="$event.stopPropagation()">
                    <!-- <li><a class="doc" ui-sref="librairy.grid({source: 'folder', pk: '-'})">All pictures</a></li>-->
                    <!-- <li><a class="doc" ui-sref="librairy.grid({source: 'folder', pk: '-'})">Last importation</a></li>-->
                    <li><a class="doc"
                            ph-drop="librairy/folder"
                            ph-drop-data="phFolder.rootDir"
                            ph-drop-accept="librairy/pict librairy/folder"
                            ph-drop-style="droppable"
                            ui-sref="librairy.grid({source: 'folder', pk: '-'})"
                            ng-class="{active: $state.includes('librairy.grid', {source: 'folder', pk: '-'})}"
                            >{{ phFolder.rootDir.name }}</a></li>
                </ul><!-- submenu -->
                </div><!-- submenu-inframe -->
                </div><!-- submenu-frame -->
                </div><!-- submenu-outframe -->
            </li><!-- tooglesubmenu -->
 
            <li class="togglesubmenu"
                ng-if="phUser.user.is_staff"><a class="arrow arrow-plus"
                    ng-click="showDirectorys = ! showDirectorys"
                    ng-class="{selected: showDirectorys}"
                    href="">Folders</a><a 
                            class="plus"
                            ng-click="folders_menu = ! folders_menu"><span class="accessibility">Tab menu</span></a>
                    <ul class="popover"
                        ng-show="folders_menu">
                        <li><a ng-click="phUploader.open();folders_menu=false" href="">Import pictures</a></li>
                        <li><a ng-click="phFolder.mkDir();folders_menu=false" href="">New folder</a></li>
                    </ul>
                <div class="submenu-outframe">
                <div class="submenu-frame">
                <div class="submenu-inframe">
                <ul class="submenu slide-up-down"
                    ng-show="showDirectorys"
                    ng-click="$event.stopPropagation()">
                    <li ng-repeat="item in phFolder.directorys" ng-include="'/assets/partials/librairy/librairy_recursive_directorys.html'"></li>
                    <li ng-if="phFolder.directorys.length == 0"><a class="doc popup" href="">No folders</a></li>
                </ul><!-- submenu -->
                </div><!-- submenu-inframe -->
                </div><!-- submenu-frame -->
                </div><!-- submenu-outframe -->
            </li><!-- tooglesubmenu -->
            
 
            <li class="togglesubmenu"
                ng-if="phUser.user.is_staff"><a class="arrow arrow-plus"
                    ng-click="showPosts = ! showPosts"
                    ng-class="{selected: showPosts}"
                    href="">Weblog posts</a><a 
                            class="plus"
                            ng-click="posts_menu = ! posts_menu"><span class="accessibility">Tab menu</span></a>
                    <ul class="popover"
                        ng-show="posts_menu">
                        <li><a ng-click="phUploader.open();posts_menu=false" href="">Import pictures</a></li>
                        <li><a ng-click="phFolder.mkDir();posts_menu=false" href="">New folder</a></li>
                    </ul>
                <div class="submenu-outframe">
                <div class="submenu-frame">
                <div class="submenu-inframe">
                <ul class="submenu slide-up-down"
                    ng-show="showPosts"
                    ng-click="$event.stopPropagation()">
                    <li ng-repeat="item in posts_headers"><a class="dia"
                        ng-class="{active: $state.includes('librairy.grid', {source: 'post', pk: item.pk})}"
                        ui-sref="librairy.grid({source: 'post', pk: item.pk})"
                        ph-drop="librairy/post"
                        ph-drop-data="item"
                        ph-drop-accept="librairy/pict"
                        ph-drop-style="droppable"
                    >{{ item.title }}</a></li>
                    <li ng-if="posts_headers.length == 0"><a class="dia" href="">No blog post</a></li>
                </ul><!-- submenu -->
                </div><!-- submenu-inframe -->
                </div><!-- submenu-frame -->
                </div><!-- submenu-outframe -->
            </li><!-- tooglesubmenu -->
            
            <li class="togglesubmenu"><a class="arrow arrow-plus"
                    ng-click="showAccount = ! showAccount"
                    ng-class="{selected: showAccount}" href="">Account</a>
                <div class="submenu-outframe">
                <div class="submenu-frame">
                <div class="submenu-inframe">
                <ul class="submenu slide-up-down"
                    ng-show="showAccount"
                    ng-click="$event.stopPropagation()">
                    <li>{{ phUser.user.avatar }}{{ phUser.user.username }}</li>
                    <li><a class="doc" href="">Profil</a></li>
                    <li ng-if="phUser.user.is_staff"><a class="doc" href="" ng-click="">Settings</a></li>
                    <li ng-if="phUser.user.is_staff"><a class="doc" href="/api/" target="_blank">API browser</a></li>
                    <li><a class="doc"  href="" ng-click="phUser.logout()">Sign out</a></li>
                </ul><!-- submenu -->
                </div><!-- submenu-inframe -->
                </div><!-- submenu-frame -->
                </div><!-- submenu-outframe -->
            </li><!-- tooglesubmenu -->

        </ul><!-- nav -->
    </nav>

<!-- main content area -->
<section id="content"
         ng-class="{'left-panel-close': hide_left_panel, 'right-panel-close': hide_right_panel}"
         ui-view 
         autoscroll
         ph-justify-thumbs>
</section>

<!-- page up link -->
<a id="pageup" href="#top" title="haut de page"><span class="accessibility">haut de page</span></a>

</div><!-- frame -->
