<div ng-controller="librairyUploaderCtrl" id="librairy_uploader">
    <section class="files_previews">
        <div class="file_preview" ng-repeat="file in phUploader.files">{{ phUploader.files }}
            <img src="" ph-file-preview="file" />
        </div>
    </section>
    <div class="field_wrapper">
        <label for="id_files">Choose a file:</label>
        <button id="id_files" ph-hidden-file-model="phUploader.handleFile" multiple>Add files</button>
        <input id="id_files" ph-file-model="phUploader.handleFile" type="file" multiple>
    </div>
</div>
