<!-- top-scroll anchor -->
<div id="top"></div>

<!-- view for single state -->
<div ui-view>
    <div><!-- wrapper add element to fix bug with ng-repeat as direct child of ui-view -->
<!-- filtering menu -->
<menu type="toolbar"
    class="filter-bar"
    ng-show="show_filter_bar">
    Filter: <input ng-model="query">
</menu><!-- thumbnails list -->
<img src="" id="dragimage" />
<article id="{{ pict.id }}"
         class="thumb"
         ng-class="{selected: pict.selected, active: pict.active}"
         ng-repeat="pict in picts | filter:query track by $index">
    <header>
        <div class="line1">
            <span class="float-right">{{ pict.name| limitTo : 20 : 0 }}</span>
            {{ pict.pk }}
        </div>
        <div class="line2">
            <span class="float-right">{{ pict.type }}</span>
            {{ pict.width }} x {{ pict.height }}
        </div>
        <button 
            class="thumb-menu no-style"
            ng-click="show_menu[$index] = ! show_menu[$index]"
            ng-class="{active: show_menu[$index]}"
        ><span class="accessibility">menu de l'onglet</span></button>
    </header>
    <!-- square container for image -->
    <div class="thumb-container">
        <ul ng-show="show_menu[$index]" class="slide-up-down thumb-menu">
            <li><a target="blank" ng-href="/media/images/previews/large/{{ pict.previews_path }}">Open large version</a></li>
            <li><a target="blank" ng-href="/media/{{ pict.source_file }}">Open original</a></li>
            <li ng-if="type != 'server'"><a ui-sref="librairy.grid({source: 'folder', pk: pict.directory || '-'})">Open folder</a></li>
            <li class="separator"></li>
            <li ng-if="rmPictFrom"><a ng-click="rmPictFrom(pict.pk, $index)" href="">Remove from {{ type }}</a></li>
        </ul>
        <!-- image itself wrapper, for published icone to be at right place -->
        <div>
            <img class="thumbnail"
                 ph-drag="librairy/pict"
                 ph-drag-data="pict"
                 ph-drag-style="selected"
                 ng-src="/media/images/previews/max-500/{{ pict.previews_path }}"
                 ng-dblclick="$state.go('.single', {'picture': pict.pk})"
                 alt="{{ pict.title }}"
                 title="Double click me !" />
        </div><!-- image wrapper -->
        <div class="published"></div>
    </div><!-- thumb-container -->
    <footer>
        <ul>
            <!-- display inline else ng-repeat add spaces… -->
            <li ng-repeat="i in [] | phRange:pict.rate track by $index"><button class="star" 
                ng-click="setRate(pict, $index, true, true);$event.stopPropagation()">{{$index + 1}} étoiles</button></li><li 
                ng-repeat="i in [] | phRange:(5 - pict.rate) track by $index"><button class="point" 
                ng-click="setRate(pict, $index + pict.rate, false, true);$event.stopPropagation()">{{$index + pict.rate + 1}} étoiles</button></li>
        </ul>
    </footer>
</article>
</div><!-- wrapper -->
</div><!-- ui-view -->

