{% extends "base.html" %}
{% load mptt_tags %}
{% load tz %}
{% localtime off %}
{% block page %}
{{ page_info.title|lower }}
{% endblock %}
{% block right_panel_link %}
{% endblock %}
{% block left_panel %}
<nav id="left_panel" role="navigation">
<ul id="nav">


<li class="togglesubmenu"><a class="arrow arrow-dia" href="#">Portfolios</a>
	<div class="cadre2">
	<div class="cadre2b">
		<ul class="submenu">
            {% if portfolios_menu %}
            <li><a class="dia" href="{% url "weblog_portfolios" %}">Lister les portfolios</a></li>
            {% endif %}
			{% for item in portfolios_menu %}
			<li><a class="dia" href="{% url "portfolio_view" item.slug %}">{{ item.title|truncatechars:28 }}</a></li>
			{% empty %}
			<li><a class="dia" href="#">Aucun portfolio</a></li>
			{% endfor %}
            {% if user.is_staff %}
            <li.button><a class="popup" href="{% url "portfolio_create" %}">
                <button type="button">Nouveau portfolio</button>
            </a></li>
            {% endif %}
		</ul><!-- submenu -->
	</div><!-- cadre2b -->
	</div><!-- cadre2 -->
</li><!-- togglesubmenu -->


<li class="togglesubmenu"><a class="arrow arrow-doc" href="#">Derniers posts</a>
    <div class="cadre2">
    <div class="cadre2b">
        <ul class="submenu">
            {% if posts_menu %}
            <li><a class="doc" href="{% url "weblog_home" %}">Lister les posts</a></li>
            {% endif %}
            {% for item in posts_menu %}
            <li><a class="doc" href="{% url "entry_view" item.pub_date|date:"Y/m/d" item.slug %}">{{ item.title|truncatechars:28 }}</a></li>
            {% empty %}
            <li><a class="doc" href="#">Aucun posts</a></li>
            {% endfor %}
            {% if user.is_staff %}
            <li.button><a class="popup" href="{% url "entry_create" %}">
                <button type="button">Nouveau post</button>
            </a></li>
            {% endif %}
        </ul><!-- submenu -->
    </div><!-- cadre2b -->
    </div><!-- cadre2 -->
</li><!-- togglesubmenu -->


<li class="togglesubmenu"><a class="arrow arrow-tag" href="#">Mots clés</a>
	<div class="cadre2">
	<div class="cadre2b">
		<ul class="submenu">
			{% for item in tags %}
			<li><a class="tag" href="{% url "weblog_tag" item.slug %}">{{ item.name|truncatechars:28 }}</a></li>
			{% empty %}
			<li><a class="tag" href="#">Aucun mots clés</a></li>
			{% endfor %}
		</ul><!-- submenu -->
	</div><!-- cadre2b -->
	</div><!-- cadre2 -->
</li><!-- togglesubmenu -->
{% include 'menu.html' %}
</ul><!-- nav -->
{% block left_panel_footer %}
{% endblock %}
</nav><!-- right-panel -->
{% endblock %}

{% endlocaltime %}
