    {% if not arg0 %}
        {% if page_obj.has_next %}
            <link rel="next" href="{% url request.resolver_match.url_name page_obj.next_page_number %}" />
        {% endif %}
        {% if page_obj.has_previous %}
            <link rel="prev" href="{% url request.resolver_match.url_name page_obj.previous_page_number %}" />
        {% endif %}
    {% elif not arg1 %}
        {% if page_obj.has_next %}
            <link rel="next" href="{% url request.resolver_match.url_name page_obj.next_page_number arg0 %}" />
        {% endif %}
        {% if page_obj.has_previous %}
            <link rel="prev" href="{% url request.resolver_match.url_name page_obj.previous_page_number arg0 %}" />
        {% endif %}
    {% else %}
        {% if page_obj.has_next %}
            <link rel="next" href="{% url request.resolver_match.url_name page_obj.next_page_number arg0 arg1 %}" />
        {% endif %}
        {% if page_obj.has_previous %}
            <link rel="prev" href="{% url request.resolver_match.url_name page_obj.previous_page_number arg0 arg1 %}" />
        {% endif %}
    {% endif %}


