{% extends "weblog/weblog_base.html" %}
{% block content %}

{% for entry in entrys %}
<article class="abstract" >
    <div class="entry-content">
        <header>
            {% if entry.date|date:"Y-m-d" == "2013-07-29" %}
            <h1>Configuration par défaut</h1>
            {% else %}
            <h1>Configuration du {{ entry.date|date:"j F Y" }}</h1>
            {% endif %}
            <p class="date">
            <em>{{ entry.comment }}</em>
            </p>
        </header>
        <p class="field_wrapper">
        <strong>Domaine :</strong><br />
        {{ entry.domain }}
        </p>

        <p class="field_wrapper">
        <strong>Titre :</strong><br />
        {{ entry.title }}
        </p>

        <p class="field_wrapper">
        <strong>Titre de l'accueil :</strong><br />
        {{ entry.title_home }}
        </p>

        <p class="field_wrapper">
        <strong>Sous-titre de l'accueil :</strong><br />
        {{ entry.sub_title_home }}
        </p>

        <p class="field_wrapper">
        <strong>Logo du site :</strong><br />
        {{ entry.site_logo|default:"defaut" }}
        </p>

        <p class="field_wrapper">
        <strong>Logo de l'accueil :</strong><br />
        {{ entry.home_logo|default:"défaut" }}
        </p>
        <footer>
            <p class="center-align">
            <a href="{% url "gallery_create" %}">
                <button type="button">Sélectionner</button>
            </a>
            </p>
            <div class="v3"></div><!-- v3 -->

        </footer>
    </div>{# entry-content #}
</article>
{% endfor %}
{% if page_obj.paginator.num_pages > 1 %}
    {% include 'weblog/weblog_pagination.html' %}
{% endif %}

{% endblock %}
