// Librairy color palette


@lib-bg: #000;      // body background
@lib-text: #000;    // body text color
@lib-links: #919191; // links text color
@lib-links-hover: #CCC; // links text color
@lib-selected-links: #FFF; // links with selected class (current url)
@lib-selected-text: #000; // selected text color
@lib-selected-text-bg: #CCC;; // selected text background
@lib-panel-toggle-arrows: #919191; // arrows to toggle panels
@lib-frame: #444;   // frame color
@lib-panels-bg: #313131; // right and left panels color
@lib-submenus-inframe: #383838; // inside frame color for submenus borders
@lib-submenus-frame: #000; // submenus main borders
@lib-submenus-outframe: #3F3F3F; // submenus out borders
