{% extends "weblog/weblog_base.html" %}
{% load static %}
{% block content %}
<article id="main">
    <div class="entry-content">
    <div id="contact-content">
    <p class="center-align"><strong>
        <span class="warning-message">Votre message a bien été envoyé !</span>
    </strong></p>
    <p class="center-align">

        <a href="{% url "contact_home" %}">
            <button class="large-button" type="button">Retour à la page de contact</button>
        </a>
    </p>
</div>
        <footer>
            <hr />
            <div class="v3"></div>{# v3 #}
            <p id="powered" class="center-align"><a target="_blank" href="{{ phiroom }}">Powered by Phiroom</a></p>
        </footer>

    </div>{# entry-content #}
</article>
{% endblock %}
