// weblog layout
#weblog {
    nav#pagination {
        margin-top: 5em;
        a#next {
            float: right;
        }
        a#prev {
            float: left;
        }
        &:after {
            content: "";
            clear: both;
            height: 1px;
            display: block;
        }
    }

    article {
        padding: 0px 16px;
        time {
            color: @blog-time;
            font-size: 0.85em;
            display: block;
            margin-bottom: 0.2em;
            text-indent: 0.2em;
        }
        .description {
            color: @blog-desc;
        }
    }

}
