// weblog layout
#weblog, #preview {
    nav#pagination {
        margin-top: 5em;
        a#next {
            float: right;
        }
        a#prev {
            float: left;
        }
        &:after {
            content: "";
            clear: both;
            height: 1px;
            display: block;
        }
    }

    article {
        padding: 0px 16px;
        .description {
            color: @blog-desc;
        }
        .tags {
            margin-top: 4em;
            margin-bottom: 1.125em;
            text-align: center;
            li {
                display: inline;
                &:after {
                    display: inline-block;
                    content: "\2022";
                    margin: 0 10px;
                    color: @blog-tags;
                }
                &:last-child:after {
                    content: "";
                }
            }
            a {
                text-decoration: none;
                color: @blog-tags;
                &:hover, &:active, &:focus {
                    color: @blog-links-hover;
                }
            }
        }
    }
    // author indication
    h6.author {
        font-weight: normal;
        font-style: italic;
        text-align: right;
        margin-top: 0.5em;
        line-height: 1em; 
        margin-bottom: 0.5em;
        height: 0px;
        border-top: 1px solid @blog-hr;
        padding-right: 8%;
        a {
            display: inline-block;
            position: relative;
            top: -0.65em;
            background: @blog-bg;
            padding-right: 10px;
            padding-left: 10px;
            color: @blog-text;
            font-variant: small-caps;
            &:hover, &:active {
                color: @blog-links-hover;
            }
        }
    }
}

.tags-container {
    background: @inputs-bg;
    width: 100%;
    border-radius: 2px;
    border: 1px solid @inputs-border;
    padding: 12px;
    box-sizing: border-box;
    &:hover {
        border-color: @inputs-border-hover;
    }
    &:focus {
        border-color: @inputs-border-focus;
    }
    input, input:hover, input:focus {
        box-shadow: none;
        border: none;
        margin: 0;
        padding: 0 5px;
    }
    .tag {
        display: inline-block;
        height: 34px;
        line-height: 32px;
        border: 1px solid @blog-tag-border;
        margin: 5px 0 0 5px;
        padding: 0px 0px 0px 12px;
        border-radius: 4px;
        box-sizing: border-box;
        color: @blog-tag-color;
        background: @blog-tag-bg;
        .del {
            border: none;
            box-shadow: none;
            margin: 0;
            font-size: 22px;
            height: 32px;
            float: right;
            padding: 0 12px 0 8px;
            color: @blog-tag-color;
            &:hover, &:active {
                color: @blog-tag-color-hover;
            }
        }
    }
}
