<!DOCTYPE html>
<html lang="{{ user.profil.lang|default:"fr" }}">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="utf-8" />

        {# including css files #}
        {% load static %}
        
        {# PROD: for production only #}
        <link rel="stylesheet" href="{% static 'css/phiroom.min.css' %}" />{# PROD #}

        {# DEVEL: for development only #}
        {#<link rel="stylesheet/less" href="{% static 'css/controller.less' %}" />{# DEVEL #}

        <link rel="icon" type="image/png" href="{% static 'images/structure/phiroom-favicon.png' %}" />
        <link
            rel = "alternate"
            type = "application/atom+xml"
            title = ""
                                          {#href = "{% url "feed" %}"#}
        />
    </head>
    <body>
        <header role="banner">
            <h1 class="hidden">{{ conf.title }}</h1>
            <p id="logo">
                <a href="">
                    <img src="" alt="logo" />
                </a>
            </p>
            <nav role="navigation">
            {% block nav %}
            <ul id="menu">
                <li><a href="">Portfolios</a></li>
                <li><a href="{% url "weblog_home" %}">Weblog</a></li>
                <li><a href="">Contact</a></li>
                {% if user.is_staff %}
                <li><a href="">Librairy</a></li>
                <li><a href="/admin/">Admin</a></li>
                {% endif %}
            </ul>
            {% endblock %}
            </nav>
        </header>
        {% block side_bar %}
        {% endblock %}

        <section id="content">
            {% block content %}
            {% endblock %}
        </section>

        {# js files #}
        <script src="{% static 'scripts/jquery-2.0.3.min.js' %}"></script>
        <script src="{% static 'scripts/phiroomui.js' %}"></script>{# DEVEL not optimized js file #}

        {# remove on production #}
        {#<script src="{% static 'scripts/less-1.4.1.min.js' %}" type="text/javascript"></script>{# DEVEL less compilation client side #}

    </body>
</html>

