{% extends "weblog/weblog_base.html" %}
{% load humanize %}
{% load tz %}

{% block pagination %}
    {% if page_obj.paginator.num_pages > 1 %}
        {% include 'weblog/weblog_head_pagination.html' %}
    {% endif %}
{% endblock %}


{% block content %}

{% for entry in entrys %}

<article class="abstract" >
    <div class="entry-content">
		<header>

        <ul class="entry-type">
            {% if entry.portfolio %}
                <li><div>Portfolio</div></li>
            {% else %}
                <li><div>Blog post</div></li>
            {% endif %}

            {% if user.is_staff %}
            <li><div>{{ entry.get_n_view_not_staff }} vues</div></li>
            <li><div>{{ entry.get_n_view_unique }} unitaires</div></li>
            {% endif %}
        </ul>

		<h1>{{ entry.title }}</h1>
        {% include "weblog/weblog_date.html" %}
		</header>
            <figure>
                <figcaption>
		            {{ entry.abstract|safe }}
                    <h6 class="author"><a class="author small_caps" href="{{ entry.author.web_site}}" rel="author">{{ entry.author.author_name }}</a></h6>
                </figcaption>
                {% if entry.get_sorted_pictures %} 
                <div class="gallery">
                    <ul>
                        {% for picture in entry.get_sorted_pictures|slice:":6" %}<li><a href="{{ entry.absolute_url }}#/lightbox/{{ picture.id }}/" rel="canonical"><img class="thumbs" src="{{ MEDIA_URL }}images/previews/square-500/{{ picture.id }}.jpg" alt="{{ picture.title }}" {#title="{{ picture.title }}"#} /></a></li>{% endfor %}
                    </ul>
                </div>{#gallery#}
                <hr />
                {% endif %}
            </figure>

            <footer>
                {% spaceless %}
                <p class="center-align">
                {% if entry.get_sorted_pictures %}
                    <a href="{{ entry.absolute_url }}#/lightbox/{{ entry.get_sorted_pictures.0.id }}/" rel="canonical">
                {% else %}
                    <a href="{{ entry.absolute_url }}" rel="canonical">
                {% endif %}
                        <button type="button">
                            {% if entry.portfolio %}
                                Voir le portfolio
                            {% else %}
                                Voir le post
                            {% endif %}
                        </button>
                    </a>
                </p>
                {% endspaceless %}
		    {# show 'grigri' #}
		    <div class="v3"></div>{# v3 #}
		</footer>


        </div>{# entry-content #}
	</article>
{% empty %}
	<article class="abstract" >
        <div class="entry-content">
		<header>
		<h1>Aucun contenu publié…</h1>
		</header>
		<footer>
		{% if user.is_staff %}
        {% spaceless %}
			<p class="center-align">
            <a class="popup" href="{% url "entry_create" %}">
                        <button type="button">Nouveau post</button>
                    </a>
			</p>
        {% endspaceless %}
		{% endif %}
			{# show 'grigri' #}
			<div class="v3"></div>{# v3 #}

		</footer>
    </div>{# entry-content #}
	</article>
{% endfor %}
{% if page_obj.paginator.num_pages > 1 %}
    {% if not arg0 %}
	    {% include 'weblog/weblog_pagination.html' %}
    {% elif not arg1 %}
        {% include 'weblog/weblog_pagination_1arg.html' %}
    {% else %}
        {% include 'weblog/weblog_pagination_2arg.html' %}
    {% endif %}
{% endif %}
{% endblock %}


