{% extends "weblog/weblog_base.html" %}

{% block main %}

<article>
    <header>
        {% if user == post.author %}
        <ul id="admin-links">
            <li><a ng-click="edit = true" href="">Edit</a></li>
        </ul>
        {% endif %}
        
        <time datetime="{{ post.pub_date|date:"c" }}" pubdate="pubdate">
            {{ post.pub_date|date:"M j, Y" }}
        </time>
        <h1>{{ post.title }}</h1>
        <p class="description">{{ post.description }}</p>
    </header>
    <div class="content">
    {{ post.content|safe }}
    </div>
    <h6 class="author"><a href="{{ post.author.web_site}}" rel="author">{{ post.author.author_name|default:"Frédéric Lavilotte-Rolle" }}</a></h6>
    <footer>
        {% spaceless %}
        <ul id="tags">
            {% for tag in post.tags.all %}
            <li><a href="{% url "weblog_tag" tag.slug %}" title="See all &#34;{{ tag.name }}&#34; related posts.">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
        {% endspaceless %}
    </footer>
</article>
<nav id="pagination">
    {% if prev %}
    <a id="prev" href="{{ prev }}">Previous post »</a>
    {% endif %}
    {% if next %}
    <a id="next" href="{{ next }}">« Next post</a>
    {% endif %}
</nav>
{% endblock %}


