<!DOCTYPE html>
<html lang="{{ user.profil.lang|default:"fr" }}">
	<head>
		<title>{{ conf.title }}, {% block page %}{% endblock %}</title>
		<meta charset="utf-8" />

		{# including css files #}
		{% load static %}
		{% load humanize %}

		{% block css %}
        <link rel="stylesheet" href="{% static 'css/phiroom.min.css' %}" /> {# PROD: le fichier final compilé #}
{#        <link rel="stylesheet/less" href="{% static 'css/controller.less' %}" /> {# DEVEL: le fichier gérant les include #}
		{% endblock %}
        {% block pagination %}
        {% endblock %}
		<link rel="icon" type="image/png" href="{% static 'images/structure/phiroom-favicon.png' %}" />
		<link
			rel = "alternate"
			type = "application/atom+xml"
			title = "{{ conf.title }}"
            href = "{% url "feed" %}"
		/>
	</head>
	<body>
		<header role="banner">
		<h1 class="hidden">{{ conf.title }}</h1>
			<p id="logo">
			<a href="{% url conf.home_page.reverse_url %}">
                <img src="{% if conf.site_logo %}{{ MEDIA_URL }}{{ conf.site_logo }}{% else %}/assets/images/structure/phiroom.png{% endif %}" alt="{{ conf.title }} logo" />
				</a>
			</p>
			<nav role="navigation">
			{% block nav %}
			<ul id="menu">
					{% for item in menu %}
					<li><a href="{% url item.reverse_url %}" {% if item.name == page_info.name %} class="selected" {% endif %}>{{item.title}}</a></li>
					{% empty %}
					<li>Pas de menu… :( </li>
					{% endfor %}
					{% if user.is_staff %}
					<li><a href="{% url "librairy_home" %}" {% if page_info.name == "librairy" %} class="selected" {% endif %}>Bibliothèque</a></li>
					{% endif %}
				</ul>
			{% endblock %}
			</nav>
		</header>
		{# 1px grey frame arround main area #}
		<div id="frame">
			{# buttons to show / hide side panels #}
            {% block left_panel_link %}
			<a id="left" href="#" title="afficher / masquer le panneau"></a>
            {% endblock %}
            {% block right_panel_link %}
            <a id="right" href="#" title="afficher / masquer le panneau"></a>
            {% endblock %}

			{% block left_panel %}
			{% endblock %}

			{% block right_panel %}
			{% endblock %}

            {% block section %}
			{# main content area #}
			<section id="content">
				{# anchor div to join page top #}
				<div id="top"></div>
				{% block content %}
				{% endblock %}
				<a id="pageup" href="#top" title="haut de page"><span class="hidden">haut de page</span></a>
			</section>
            {% endblock %}{# section #}

		</div><!-- frame -->
		{# including hidden overlay for forms and lightbox #}
		<div id="overlay"></div>

		{# including js files #}
		<script src="{% static 'scripts/jquery-2.0.3.min.js' %}"></script>
{#        <script src="{% static 'scripts/phiroomui.js' %}"></script>{# DEVEL not optimized js file #}
        <script src="{% static 'scripts/phiroomui.compiled.js' %}"></script>{# PROD optimized js file #}
		{# remove on production #}
        {#<script src="{% static 'scripts/less-1.4.1.min.js' %}" type="text/javascript"></script>{# DEVEL less compilation client side #}
	</body>
</html>



