// invalid form
/*:invalid:hover, :invalid:focus {
    box-shadow: @invalid-shadow;
}*/
form:invalid, form:invalid:hover, form:invalid:focus, :invalid {
    box-shadow: none;
}
input, textarea, select, option, :invalid, :valid {
    outline: none;
    //display: block;
}

// default forms elements
div.field_wrapper {
    margin-bottom: 1.5em;
}

form {
    margin-top: 1em;
    margin-bottom: 1em;
    p {
        margin-bottom: 0.5em;
    }
    .help-text {
        margin-top: 5px;
        margin-bottom: 5px;
        color: @help-text;
    }
}
input, option, select, textarea, ul.error-list li, ul.warning-list li {
    font-family: @sans;
    width: 100%;
    border-radius: 4px;
    background: @inputs-bg;
    border: @inputs-border;
    font-size: 1em;
    color: @inputs-text-color;
    text-align: left;
    padding: 6px 12px;
    margin-top: 5px;
    box-sizing: border-box;
}
ul.error-list li, ul.warning-list li {
        display: block;
        min-height: 34px;
        line-height: 20px;
        vertical-align: middle;
}
ul.error-list, ul.warning-list {
    padding: 0;
}
ul.error-list li {
    color: @error;
    border: 1px solid @error;
    background: @error-background;
}
ul.warning-list li {
    color: @warning;
    border: 1px solid @warning;
    background: @warning-background;

}
textarea {
    resize: vertical;
    line-height: 1.5em;
}
input, option, select, button {
    height: 34px;
}
input[type="checkbox"] {
    height: 13px;
    width: 13px;
    margin: 3px 8px 0 0;
    float: left;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="radio"], input[type="checkbox"] {
    margin: 6px 0 0;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
    height: auto;
    width: auto;
    position: absolute;
    margin-left: -20px;
    &:hover, &:active, &:focus {
        box-shadow: none;
        outline: none;
    }
}
.radio, .checkbox {
    margin: 10px 0;
    position: relative;
    box-sizing: border-box;
    display: block;
    label {
        font-weight: normal;
        min-height: 24px;
        padding: 0 0 0 20px;
        cursor: pointer;
        margin-bottom: 0;
    }
}
.radio-inline, .checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-left: 20px;
}

input:hover, input:focus, textarea:focus, textarea:hover, select:focus, select:hover {
    box-shadow: @inputs-hover-focus-shadow;
}

input[type="submit"], button {
    font-family: @sans;
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
    box-shadow: @submit-button-shadow;
    height: 34px;
    width: auto;
    padding: 0 15px;
    margin: 5px 2px 0 2px;
    text-align: center;
    &.small-button {
        height: 24px;
        padding: 2px 6px 0px 6px;
    }
    &.large-button {
        width: auto;
    }
}

button {
    background: none;
    border: 1px solid @blog-hr;
    color: @submit-button-bg;
}

button:hover, button:focus, a:hover button, a:focus button {
    border-color: @secondary-button-hover;
    color: @secondary-button-hover;
}

input[type="submit"], button.primary {
    background: @submit-button-bg;
    color: @submit-button-main;
    border: none;
}
input[type="submit"]:hover, input[type="submit"]:focus, button.primary:hover,
    button.primary:focus, a:hover button.primary, a:focus button.primary {
    //color: @submit-button-hover-focus;
    //box-shadow: @submit-button-hover-focus-shadow;
    background: @submit-button-hover-focus-bg;
}

button.overlay {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 4px;
    border: none;
    margin: 0;
    color: @blog-text;
    background-color: rgba(255, 255, 255, 0.5);
    &:hover {
        color: #222;
    }
}

button.plus {
    border: none;
    padding: 0;
    margin: 0;
    height: 15px;
    width: 15px;
    font-size: 0;
    float: right;
        .plus(13px, 3px, @lib-panels-titles);
    &:hover {
        .plus(13px, 3px, @lib-panels-titles - 50);
    }
}

.form-horizontal {
    //background: green;
    .clear;
    margin-bottom: 5px;
    label, p {
        text-align: right;
        margin: 5px 0 0;
        padding: 0 15px 0 0; 
        height: 34px;
        line-height: 34px;
        vertical-align: middle;
        //background: red;
    }
    p {
        text-align: left;
        padding: 0;
    }
}

