// Common layout
html {
    height: 100%;
}
body {
    font-size: 100%;
    line-height: 1.5em;
    font-family: @sans;
    &.freeze {
        overflow: hidden;
    }
}
// paragraphs
p {
    margin: 0.5em 0;
}
// emphasis
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

article {
    padding: 0px;
    position: relative;
    margin-top: 4em;
    ul {
        padding-left: 30px;
        list-style-type: disc;
    }
    ol {
        padding-left: 30px;
        list-style-type: decimal;
    }
}
pre, blockquote {
    background-color: @blog-code-bg;
    border: @blog-code-border;
    border-radius: 2px;
    padding: 1em 1.5em;
    margin: 1em 0;
    overflow: auto;
    box-shadow: 0 0 3px @blog-code-bg;
    code {
        background-color: rgba(0,0,0,0);
    }
}
code {
    background-color: @blog-code-bg;
    color: @blog-code-text;
    font-family: @mono;
    border-radius: 4px;
    padding: 0px 5px;
}
blockquote {
    color: @blog-code-text;
    font-size: 1.2em;
    font-family: @serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding: 30px;
}

article#error-page {
    text-align: center;
    h1 {
        font-size: 150px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 25px;
        font-style: italic;
    }
    p {
        margin: 40px 10px;
    }
}

#overlay, #modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8) ;
    z-index: 999;
    &.transparent {
        background-color: rgba(0, 0, 0, 0) ;
    }
    &.opaque {
        background-color: rgba(0, 0, 0, 1) ;
    }
}
#modal {
    z-index: 1000;
    position: relative;
    margin: 40px auto;
    background: @blog-bg;
    width: 770px;
    border: 1px solid @blog-hr;
    border-radius: 4px;
    box-shadow: 0 0 4px #000;
    #modal-header {
        padding: 30px 60px;
        border-bottom: 1px solid @blog-hr;
        h1 {
            margin: 0;
        }
        button.modal-close {
            right: 30px;
            top: 23px;
        }
    }
    #modal-content {
        margin: 0;
        padding: 45px;
    }
    #modal-footer {
        padding: 25px 45px 30px;
        border-top: 1px solid @blog-hr;
        text-align: right;
    }
    &.small {
        width: 500px;
    }
    &.max {
       width: auto;
       margin: 40px;
    }
}
button.modal-close {
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    height: 40px;
    width: 40px;
    vertical-align: top;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    color: @blog-links;
    &:hover, &:active, &:focus {
        color: @blog-links-hover;
    }
}
// Powered by
#powered {
    font-family: @serif;
    font-size: 0.8em;
    a {
        text-decoration: none;
    }
}
// small caps
.small-caps {
    font-variant: small-caps;
}

// text-centering
.centered {
    text-align: center;
}

// administration links (edition buttons, etc.)
.admin-links {
    margin-bottom: 10px;
    text-align: right;
}

// tabing
.tabs-bar {
    border-bottom: 1px solid @tabs-border;
    padding: 12px 12px 0 12px;
    background: @tabs-bg;
    button {
        background: @tabs-bg;
        width: 25%;
        height: 40px;
        margin: 0 0 -1px -1px;
        border-radius: 0;
        border: 1px solid @tabs-border;
        color: @tabs;
        &:hover, &:focus {
            color: @tabs-hover;
        }
        &.active {
            background: @tabs-active-bg;
            border-bottom: none;
            border-bottom: none;
            color: @tabs-active;
            &:hover, &:focus {
                color: @tabs-active;
            }
        }
    }
}

// adjoined buttons
.adjoined-buttons-bar {
    button {
        width: 50%;
        margin: 0;
        height: 150px;
        border-radius: 0;
        background: @tabs-bg;
        box-sizing: border-box;
        border: none;
        border-right: 1px solid @tabs-border;
        font-size: 100%;
        &:last-child {
            border-right: none;
        }
        &:hover, &:focus, &:active {
            background: @blog-bg;
            color: @tabs-active;
        }
    }
}


// headings
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.underlined {
    border-bottom: 1px solid @blog-hr;
    padding: 10px 0;
}

.no-style, .no-style:hover, .no-style:active, .no-style:focus {
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 100%;
    line-height: normal;
    background: none;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
}

.accessibility {
    position: absolute !important;
    font-size: 0;
    text-indent: -500000px;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    opacity: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

// float
.float-right {
    float: right;
}
.float-left {
    float: left;
}

// social icons
.social-links {
    text-align: center;
    margin: 30px 0 0 0;
}
.social-icon {
    display: inline-block;
    margin: 0px 5px;
    a {
        border-radius: 5px;
        display: block;
        height: 32px;
        width: 32px;
        border: 1px solid @blog-hr;
        box-sizing: border-box;
        &:hover, &:focus {
            border: none;
        }
    }
}
.facebook-link {
    background: url("/assets/images/fb.svg") center center no-repeat;
    &:hover, &:focus {
        background: url("/assets/images/fb-color.svg") center center no-repeat;
    }
}
.twitter-link {
    background: url("/assets/images/twitter.svg") center center no-repeat;
    &:hover, &:focus {
        background: url("/assets/images/twitter-color.svg") center center no-repeat;
    }
}
.gplus-link {
    background: url("/assets/images/gplus.svg") center center no-repeat;
    &:hover, &:focus {
        background: url("/assets/images/gplus-color.svg") center center no-repeat;
    }
}
.flickr-link {
    background: url("/assets/images/flickr.svg") center center no-repeat;
    &:hover, &:focus {
        background: url("/assets/images/flickr-color.svg") center center no-repeat;
    }
}
.vk-link {
    background: url("/assets/images/vk.svg") center center no-repeat;
    &:hover, &:focus {
        background: url("/assets/images/vk-color.svg") center center no-repeat;
    }
}
.pinterest-link {
    background: url("/assets/images/pinterest.svg") center center no-repeat;
    &:hover, &:focus {
        background: url("/assets/images/pinterest-color.svg") center center no-repeat;
    }
}
.px500-link {
    background: url("/assets/images/500px.svg") center center no-repeat;
    &:hover, &:focus {
        background: url("/assets/images/500px-color.svg") center center no-repeat;
    }
}
.insta-link {
    background: url("/assets/images/insta.svg") center center no-repeat;
    &:hover, &:focus {
        background: url("/assets/images/insta-color.png") center center no-repeat;
    }
}

// white background generalities
#weblog, #portfolios, #contact, #user, #librairy {
    color: @blog-text;
    background-color: @blog-bg;

    // links
    a {
        color: @blog-links;
        text-decoration: underline;
        &:hover, &:active, &:focus {
            color: @blog-links-hover;
        }
    }

    // headings
    h1, h2, h3, h4, h5, h6 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: @blog-headings;
        line-height: 1.1;
        a {
            text-decoration: none;
            &:hover, &:active, &:focus {
                color: @blog-headings;
            }
        }
    }
    h1 {
        font-size: 1.5em;
        margin-bottom: 0.45em;
    }
    header h1 {
        margin-top: 0;
    }
    h2 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1.3em;
    }
    h4 {
        font-size: 1.2em;
    }
    h5 {
        font-size: 1.1em;
    }
}

// sup heading
.suptitle {
    display: flex;
}
time, .hits {
    color: @blog-time;
    font-size: 0.85em;
}
// time indications
time {
    margin-bottom: 0.2em;
    text-indent: 0.2em;
}
// hits indications
.hits {
    margin-left: auto;
    margin-right: 10px;
}

// main header common
header[role="banner"] {
    // logo
    #logo {
        img {
            max-height: 50px;
        }
    }
    // main menu
    #main-menu {
        li {
            display: inline-block;
            line-height: 0.9em;
            height: 1em;
            padding: 0 10px;
            &:last-child {
                padding-right: 0;
            }
            &:first-child {
                padding-left: 0;
            }
            a {
                vertical-align: top;
                text-decoration: none;
                margin-right: 15px;
            }
        }
    }
}

// main footer common
footer[role="contentinfo"] {
    text-align: center;
    border-top: 1px solid @blog-hr;
    padding: 30px 0 30px 0;

}

// horizontal rules
hr {
    border: none;
    border-top: 1px solid @blog-hr;
    margin: 30px 0;
    height: 0px;
}

// centered main header
#weblog, #portfolios, #contact, #user, #librairy {
    header[role="banner"] {
        position: relative;
        height: auto;
        width: auto;
        text-align: center;
        padding: 36px 0 24px 0;
        border-bottom: 1px solid @blog-hr;
        // logo
        #logo {
            position: relative;
            left: 0;
            top: 0;
            margin-bottom: 10px;
        }
        // main title
        h1, h2 {
            font-weight: normal;
            font-size: 1.2em;
        }
        nav {
            margin-top: 15px;
        }
        #main-menu {
            position: relative;
            width: auto;
            top: 0;
            li {
                position: relative;
                width: auto;
                top: 0;
                right: 0;
                border-right: 1px solid @blog-text;
                &:last-child {
                    border: none;
                }
                a.selected {
                    color: @blog-selected-menu;
                    &:hover, &:active, &:focus {
                        color: @blog-links-hover;
                    }
                }
                .sub-main-menu-wrapper {
                    display: none;
                    position: absolute;
                    top: 10px;
                    left: -15px;
                    z-index: 50;
                    padding-top: 15px;
                }
                ul.sub-main-menu { // main menu sub-menu
                    background-color: @blog-bg;
                    padding: 15px 20px 5px;
                    border: 1px solid @blog-hr;
                    border-radius: 3px;
                    text-align: left;
                    li {
                        margin: 10px 0 20px;
                        border: none;
                        padding: 0;
                        width: auto;
                        white-space: nowrap;
                        display: flex;
                        position: relative;
                    }

                }
                &:hover .sub-main-menu-wrapper {
                    display: block;
                }
            }
        }
    }
}
#weblog, #contact, #user {
    // main section
    section[role="main"] {
        position: relative;
        max-width: 782px;
        margin: 1em auto 4em auto;
    }
}
// Carousel (automatique, client side rendering)
.carousel {
    margin: 24px 0;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    line-height: 0;
    li {
        position: absolute;
        display: inline;
        box-sizing: border-box;
        opacity: 0.6;
        transform: translateX(0);
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        -moz-transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        -webkit-transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        -o-transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        &.selected {
            opacity: 1;
        }
        &.swaping {
            opacity: 0;
        }
        // to fix a bug in firefox (no transition if a isn't block)
        a {
            display: block;
        }
        button {
            display: none;
        }
        &:hover button {
            display: block;
        }
    }
    img {
        display: block;
        max-height: 100%;
        position: relative;
    }
}

// Carousel inline (manual scroll, server side rendering)
.carousel-inline, .gallery-inline {
    margin-top: 24px;
    max-height: 650px;
    overflow-x: scroll;
    min-width: 100%;
    overflow-y: hidden;
    white-space: nowrap; // for all li to stay inline on overflow
    line-height: 0; // to remove white spaces between li
    &::-webkit-scrollbar-thumb {
        border: 2px solid white;
        background: @blog-hr;
        border-radius: 8px;
    }
    &::-webkit-scrollbar {
        width: 10px;
        border-radius: 3px;
        background: @blog-bg;
    }
    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background: @blog-bg;
    }
    li {
        margin: 0 3px 50px 0;
        display: inline-block;
        &:first-child {
            margin-left: 40%;
        }
        &:last-child {
            margin-right: 40%;
        }
    }
}
.gallery-inline {
    position: relative;
    box-sizing: border-box;
    width: calc(~'100vw - 200px');
    left: calc(~'-50vw + 50% + 100px');
}
.carousel-error {
    text-align: center;
    font-size: 1.3em;
    height: 400px;
    line-height: 400px;
}
.info {
    text-align: center;
    font-size: 1.3em;
    margin: 60px 0;
}
.spinner {
    margin: 60px 0;
    font-size: 1.3em;
    text-align: center;
    img {
        @keyframes rotating {
          from {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          to {
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
        border: none;
        margin-bottom: 30px;
        animation: rotating .6s steps(12) infinite;
    }
}
.red {
    color: @blog-red;
}

