// Common layout
html {
    height: 100%;
}
body {
    font-size: 100%;
    line-height: 1.5em;
    font-family: @sans;
    &.freeze {
        overflow: hidden;
    }
}

// emphasis
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

article {
    padding: 0px;
    position: relative;
    margin-top: 4em;
    ul {
        padding-left: 30px;
        list-style-type: disc;
    }
    ol {
        padding-left: 30px;
        list-style-type: decimal;
    }
}
pre {
    background-color: @blog-code-bg;
    border: @blog-code-border;
    border-radius: 5px;
    padding: 1em 1.5em;
    margin: 1em 0;
    overflow: auto;
    box-shadow: 0 0 3px @blog-code-bg;
    code {
        background-color: rgba(0,0,0,0);
    }
}
code {
    background-color: @blog-code-bg;
    color: @blog-code-text;
    font-family: @mono;
    border-radius: 4px;
    padding: 0px 5px;
}
blockquote {
    padding-left: 1.5em;
    line-height: 200%;
    border-left: 4px solid #CCC;
    border-radius: 4px;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
    z-index: 999;
    &.transparent {
        opacity: 0;
    }
}
.modal {
    z-index: 1000;
    
}
#contextual-menu {
    position: fixed;
    top: 300px;
    left: 50%;
    z-index: 1000;
    font-size: medium;
    display: block;
    line-height: normal;
    background-color: @blog-bg;
    color: @blog-text;
    background-color: @blog-bg;
    border: 1px solid @blog-hr;
    border-radius: 3px;
    text-align: left;
    hr {
        margin: 0;
    }
    li {
        margin: 10px 0;
        border: none;
        padding: 0;
        width: auto;
        white-space: nowrap;
        position: relative;
        a {
            text-decoration: none;
            display: block;
            padding: 5px 20px;
            &:hover, &:focus, &:active {
                background: @blog-hr;
            }
        }
    }
}

// Powered by
#powered {
    font-family: @serif;
    font-size: 0.8em;
    a {
        text-decoration: none;
    }
}
// small caps
.small-caps {
    font-variant: small-caps;
}

// text-centering
.centered {
    text-align: center;
}

// headings
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.no-style, .no-style:hover, .no-style:active, .no-style:focus {
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 100%;
    line-height: normal;
    background: none;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
}

.accessibility {
    position: absolute !important;
    display: none;
    text-indent: -500000px;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    opacity: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

// float
.float-right {
    float: right;
}
.float-left {
    float: left;
}

// white background generalities
#weblog, #portfolios, #contact, #user, #librairy {
    color: @blog-text;
    background-color: @blog-bg;

    // links
    a {
        color: @blog-links;
        text-decoration: underline;
        &:hover, &:active, &:focus {
            color: @blog-links-hover;
        }
    }

    // headings
    h1, h2, h3, h4, h5, h6 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: @blog-headings;
        line-height: 1.1;
        a {
            text-decoration: none;
            &:hover, &:active, &:focus {
                color: @blog-headings;
            }
        }
    }
    h1 {
        font-size: 1.5em;
        margin-bottom: 0.45em;
    }
    header h1 {
        margin-top: 0;
    }
    h2 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1.3em;
    }
    h4 {
        font-size: 1.2em;
    }
    h5 {
        font-size: 1.1em;
    }
}

// main header common
header[role="banner"] {
    // logo
    #logo {
        img {
            max-height: 50px;
        }
    }
    // main menu
    #main-menu {
        li {
            display: inline-block;
            line-height: 0.9em;
            height: 1em;
            padding: 0 10px;
            &:last-child {
                padding-right: 0;
            }
            &:first-child {
                padding-left: 0;
            }
            a {
                vertical-align: top;
                text-decoration: none;
            }
        }
    }
}

// main footer common
footer[role="contentinfo"] {
    text-align: center;
    border-top: 1px solid @blog-hr;
    padding: 30px 0 30px 0;

}

// horizontal rules
hr {
    border: none;
    border-top: 1px solid @blog-hr;
    margin: 30px 0;
    height: 0px;
}

// centered main header
#weblog, #portfolios, #contact, #user, #librairy {
    header[role="banner"] {
        position: relative;
        height: auto;
        width: auto;
        text-align: center;
        padding: 36px 0 24px 0;
        border-bottom: 1px solid @blog-hr;
        // logo
        #logo {
            position: relative;
            left: 0;
            top: 0;
            margin-bottom: 10px;
        }
        // main title
        h1, h2 {
            font-weight: normal;
            font-size: 1.2em;
        }
        nav {
            margin-top: 15px;
        }
        #main-menu {
            position: relative;
            width: auto;
            top: 0;
            li {
                position: relative;
                width: auto;
                top: 0;
                right: 0;
                border-right: 1px solid @blog-text;
                &:last-child {
                    border: none;
                }
                a.selected {
                    color: @blog-selected-menu;
                    &:hover, &:active, &:focus {
                        color: @blog-links-hover;
                    }
                }
                ul.sub-main-menu { // main menu sub-menu
                    display: none;
                    position: absolute;
                    top: 20px;
                    left: -15px;
                    z-index: 50;
                    //min-width: 100px;
                    background-color: @blog-bg;
                    padding: 5px 20px;
                    border: 1px solid @blog-hr;
                    border-radius: 3px;
                    text-align: left;
                    li {
                        margin: 10px 0;
                        border: none;
                        padding: 0;
                        width: auto;
                        white-space: nowrap;
                        display: inline-block;
                        position: relative;
                    }

                }
                &:hover ul.sub-main-menu {
                    display: block;
                }
            }
        }
    }
}
#weblog, #contact, #user {
    // main section
    section[role="main"] {
        position: relative;
        max-width: 782px;
        margin: 1em auto 4em auto;
        p {
            margin-bottom: 0.5em;
        }

    }
}
// Carousel (automatique, client side rendering)
.carousel {
    position: relative;
    margin: 24px 0;
    overflow: hidden;
    li {
        position: absolute;
        box-sizing: border-box;
        opacity: 0.6;
        transition: left 0.4s ease-in-out, opacity 0.4s ease-in-out ;
        -webkit-transition: left 0.4s ease-in-out, opacity 0.4s ease-in-out;
        &.selected {
            opacity: 1;
        }
        &.swaping {
            .transition(none);
            img {
                opacity: 0;
            }
        }
        img {
            display: block;
            position: relative;
            .transition(opacity 0.4s ease-in-out);
        }
    }
}

// Carousel inline (manual scroll, server side rendering)
.carousel-inline, .gallery-inline {
    margin-top: 24px;
    max-height: 650px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; // for all li to stay inline on overflow
    line-height: 0; // to remove white spaces between li
    &::-webkit-scrollbar-thumb {
        border: 2px solid white;
        background: @blog-hr;
        border-radius: 8px;
    }
    &::-webkit-scrollbar {
        width: 10px;
        border-radius: 3px;
        background: @blog-bg;
    }
    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background: @blog-bg;
    }
    li {
        margin: 0 3px 50px 0;
        display: inline-block;
        &:first-child {
            margin-left: 200px;
        }
        &:last-child {
            margin-right: 200px;
        }
    }
}
.gallery-inline {
    position: relative;
    box-sizing: border-box;
    width: calc(~'100vw - 200px');
    left: calc(~'-50vw + 50% + 100px');
}
.carousel-error {
    text-align: center;
    font-size: 1.3em;
    height: 400px;
    line-height: 400px;
}
.info {
    text-align: center;
    font-size: 1.3em;
    margin: 60px 0;
}
.spinner {
    margin: 60px 0;
    font-size: 1.3em;
    text-align: center;
    img {
        border: none;
        margin-bottom: 30px
    }
}
.red {
    color: @blog-red;
}

