#lb-overlay, #overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
    z-index: 999;
}
@lb-max-height: calc(~'100vh - 100px');
#lightbox {
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    #lb-close {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: right;
        color: #FFF;
        text-decoration: none;
        font-size: 2em;
        padding: 1vw;
        &:hover:after {
            content: "×"

        }
    }
    div.lb-buttons-wrapper {
        max-height: @lb-max-height;
        position: relative;
        margin: 0 auto;
        display: inline-block;
        max-height: 100vh;
    }
    #lb-next, #lb-previous {
        margin: 0;
        top: 0px;
        position: absolute;
        width: 50%;
        height: 100%;
        border: none;
        background: none;
        text-decoration: none;
    }
    #lb-next {
        right: 0px;
        &:hover {
            background: url("/assets/images/lightbox-arrow.svg") right center no-repeat;
        }
    }
    #lb-previous {
        left: 0px;
        transform: rotate(180deg);
        &:hover {
            background: url("/assets/images/lightbox-arrow.svg") right center no-repeat;
        }
    }
    figure {
        margin: 40px auto;
        display: block;
        max-width: calc(~'100vw - 80px');
        max-height: @lb-max-height;
        .spinner img {
            margin-top: calc(~'50vh - 120px');
            border: none;
        }
        img {
            border: 2px solid #fff;
            max-width: 100%;
            max-height: @lb-max-height;
        }
        figcaption {
            text-align: left;
            font-size: 13px;
            line-height: 17px;
            font-weight: bold;
            color: #919191;
            padding-top: 7px;
            p {
                margin-top: 0;
                font-size: 12px;
                font-weight: normal;
            }
        }
    }
    .lbfigure-appear {
        opacity: 0;
    }
    .lbfigure-appear.lbfigure-appear-active {
        opacity: 1;
        transition: opacity 3000ms ease-in;
    }
    .lbfigure-enter {
        opacity: 0;
    }
    .lbfigure-enter.lbfigure-enter-active {
        opacity: 1;
        transition: opacity 3000ms ease-in;
    }
    .lbfigure-leave {
        opacity: 1;
    }
    .lbfigure-leave.lbfigure-leave-active {
        opacity: 0;
        transition: opacity 3000ms ease-in;
    }
}
