// Color Palette
@blog-bg: #FFF; // body background
@blog-text: #575757; // body text
@blog-headings: #222; // headings
@blog-time: #969696; // date indications
@blog-desc: @blog-time; // article descriptions
@blog-links: @blog-text; // links
@blog-links-hover: #000; // links hover, active and focus
@blog-selected-menu: #000; // selected links in main menu
@blog-hr: #CCC; // hrules
@blog-tags: @blog-time; // tags list
@blog-code-bg: rgba(0,0,0,0.04); // code blocks background
@blog-code-text: @blog-text; // code blocks text color
@blog-code-border: 1px solid #CCC; // code blocks border
@blog-red: #970000; // red text color

@blog-input-border: #797979;
//@blog-tag-bg: .degrade(#797979, #969696, #797979);
@blog-tag-bg: #414141;
@blog-tag-border: #222;
@blog-tag-color: #FFF;
@blog-tag-color-hover: #000;
@blog-main-thumb-border: #797979;
@blog-main-thumb-border-hover: #222;

// forms
@invalid-shadow: 0 0 3px #970000; // invalid form elements shadow
@error: #970000; // Red
@error-background: rgba(150, 0, 0, 0.08);   // form's error lists background
@warning: #D69019;           // Orange
@warning-background: rgba(214, 144, 25, 0.08);        // form's warning lists background
@help-text: @blog-text; // help text color
@inputs-bg: @blog-bg; // inputs (textarea, input etc.) background color
@inputs-border: 1px solid #CCC; // inputs border
@inputs-border-hover-focus: 1px solid #969696; // focus and hover inputs border
@inputs-text-color: @blog-text; // inputs text color
@inputs-hover-focus-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(150,150,150,.6); // inputs :hover and :focus shadow
@submit-border-color: #CCC;
@submit-button-border: 1px solid @submit-border-color; // submit and buttons border
@submit-button-shadow: inset 0 1px 0 rgba(255,255,255,0.2); // submit and buttons shadow
@submit-button: @blog-text; // submit and buttons text color
@submit-button-main: #fff; // submit and buttons text color
@submit-button-bg: #414141; // submit and buttons background
@submit-button-hover-focus-bg: #575757; // submit and buttons :hover and :focus background
@submit-button-hover-focus: #000; // submit and buttons :hover and :focus text color
@submit-button-hover-focus-shadow: 0 0 3px #000; // submit and buttons :hover and :focus shadow
@secondary-button: #414141; // secondary buttons
@secondary-button-hover: #414141; // secondary submit buttons hover

// tabs
@tabs-border: #CCC; // borders of tabs
@tabs-bg: #F9F9F9; // inactive tabs background
@tabs-active-bg: #FFF; // active tab background
@tabs-active: #000; // active tab text color
@tabs: #575757; // unactive tab text color
@tabs-hover: #222; // unactive tab hover and focus text color

