<header id="form">
{% load static %}
<p id="avatar">
{% if user.avatar %}
<img class="image top-left" src="{{ MEDIA_URL }}{{ user.avatar }}" alt="avatar" />
{% else %}
<img class="image top-left" src="{% static 'images/structure/default_avatar.png' %}" alt="avatar" />
{% endif %}
<h1>Profil de {{ user.username }}</h1>
</header>
<form method="post" enctype="multipart/form-data" action="{% url "user_profil" %}">
<p><span id="red"><span class="red">*</span></span> : Champs obligatoires.</p>
{% csrf_token %}
{{ form.non_field_errors }}
{% for field in form %}
<div class="field_wrapper">
    {{ field.label_tag }}{% if field.field.required %}<span class="red"> *</span>{% endif %}
    {{ field.errors }}
    {{ field }}{% if field.help_text %}<span class="help_text">{{ field.help_text }}</span>{% endif %}
</div>
{% endfor %}

<p class="center-align">
{% spaceless %}
{% if request.is_ajax %}
    <button id="cancel" type="button" onclick="close_overlay()" >Annuler</button>
{% else %}
    <a href="{% url "weblog_home" %}">
        <button type="button">Annuler</button>
    </a>
{% endif %}
<input type="submit" name="enregistrer" value="Enregistrer" />
{% endspaceless %}
</p>
</form>
<footer>
<div class="v3"></div><!-- v3 -->
</footer>

