#librairy {
    header[role="banner"] {
        padding: 0;
        text-align: left;
        #logo {
            margin: 15px 15px 15px 4vw;
            line-height: 0px;
        }
        h1, h2 {
            display: none;
        }
        nav {
            position: absolute;
            bottom: 15px;
            right: 2vw;
            margin: 0 50px 0 0;
        }
    }
    #left-panel {
        float: left;
        display: block;
        width: 300px;
        height: 800px;
        border-right: 1px solid #CCC;
        background: #F9F9F9;
        h6 {
            margin: 20px 15px 8px;
            font-size: 14px;
            color: #969696;
            font-weight: bold;
        }
        ul {
            list-style-type: disc;
        }
        li {
            //margin: 4px 0;
            //text-indent: 10px;
        }
        a {
            padding: 3px 10px;
            display: block;
            text-indent: 25px;
            text-decoration: none;
            &:hover, &:active, &.selected {
                background-color: #D2D2D2;
            }
        }
    }

    section[role="main"] {
        min-height: 500px;
        &:after {
            content: "";
            clear: both;
            display: block;
        }
    }
}
