// Librairy color Palette
@lib-panels-bg: #F9F9F9; // right and left panels background color
@lib-panels-titles: #969696; // right and left panels titles color
@lib-panels-titles-hover: #575757; // right and left panels titles color
@lib-panels-selected-item-bg: #CCC; // left panel selected item background
@lib-panels-selected-item: #000; // left panel selected item color
@lib-panels-dragover-item-bg: #969696; // left panel dragove item background
@lib-selected-thumb-border-color: #575757; // selected thumb border
@lib-context-menu-hover-bg: #CCC; // contextual menu hove focus and active links
@lib-file-uploader-bg:  rgba(0,0,0,0.04); // file uploader drop area background
@lib-file-uploader-bg-hover: rgba(0,0,0,0.08); // file uploader drop area background on dragover
@lib-toolbar-icons: #717171;
@lib-toolbar-icons-hover: #575757;
