<header>
{% load static %}
<h1>Connexion</h1>
</header>
{% if user.is_authenticated %}
    <p id="connected">
    <a href="{% url "user_profil" %}">
    {% if user.avatar %}
    <img class="image top-left" src="{{ MEDIA_URL }}{{ user.avatar }}" alt="avatar" />
    {% else %}
    <img class="image top-left" src="{% static 'images/structure/default_avatar.png' %}" alt="avatar" />
    {% endif %}
    </a>

    <strong>Vous êtes bien connecté !</strong><br />
    <em><strong>Votre pseudo : </strong>{{ user.username }}</em><br />
    <em><strong>Votre mail : </strong>{{ user.email }}</em><br />
    </p>

    <p class="center-align">
    {% spaceless %}
    <a href="{% url "user_profil" %}">
        <button type="button">Modifier mon profil</button>
    </a>
    <a href="{% url "user_logout" %}">
        <button type="button">Déconnexion</button>
    </a>
    {% endspaceless %}
    </p>

{% else %}
    <form method="post" action="">
    <p><span id="red"><span class="red">*</span></span> : Champs obligatoires.</p>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="field_wrapper">
        {{ field.label_tag }}{% if field.field.required %}<span class="red"> *</span>{% endif %}
        {{ field.errors }}
        {{ field }}{% if field.help_text %}<span class="help_text">{{ field.help_text }}</span>{% endif %}
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
    {% endfor %}
        <p class="center-align">
        <input type="submit" value="Connexion" />
        <a class="popup" href="{% url "user_suscription" %}">
            <button type="button">Créer un compte</button>
        </a>
        </p>
    </form>
    
{% endif %}
<footer>
<div class="v3"></div><!-- v3 -->
</footer>


